In [9]:
#import libraries

from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split, cross_val_score

In [10]:
#load data into data frame

iris = datasets.load_iris(as_frame=True)

In [11]:
#prepare data

X = iris.data #independent variable
y = iris.target #labels

In [15]:
X #features

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [16]:
y #categoried label from features

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int32

In [13]:
#create the linear regression object and fit the model with data 
#this wrong because it is using all the data for training

lm = linear_model.LinearRegression()
mod_1 = lm.fit(X,y)

In [14]:
print('R² = ', mod_1.score(X,y)) #this coefficient of determination isnt reliable

R² =  0.9303939218549564

In [17]:
#split data into trianing and testing data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1)

In [19]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
5                  5.4               3.9                1.7               0.4
2                  4.7               3.2                1.3               0.2
26                 5.0               3.4                1.6               0.4
116                6.5               3.0                5.5               1.8
10                 5.4               3.7                1.5               0.2
..                 ...               ...                ...               ...
91                 6.1               3.0                4.6               1.4
37                 4.9               3.6                1.4               0.1
131                7.9               3.8                6.4               2.0
4                  5.0               3.6                1.4               0.2
103                6.3               2.9                5.6               1.8

[135 rows x 4 columns]

In [21]:
X_test

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
15                 5.7               4.4                1.5               0.4
12                 4.8               3.0                1.4               0.1
113                5.7               2.5                5.0               2.0
6                  4.6               3.4                1.4               0.3
24                 4.8               3.4                1.9               0.2
21                 5.1               3.7                1.5               0.4
39                 5.1               3.4                1.5               0.2
144                6.7               3.3                5.7               2.5
121                5.6               2.8                4.9               2.0
142                5.8               2.7                5.1               1.9
79                 5.7               2.6                3.5               1.0
112                6.8               3.0                5.5               2.1
3                  4.6               3.1                1.5               0.2
89                 5.5               2.5                4.0               1.3
70                 5.9               3.2                4.8               1.8

In [22]:
y_train

5      0
2      0
26     0
116    2
10     0
      ..
91     1
37     0
131    2
4      0
103    2
Name: target, Length: 135, dtype: int32

In [23]:
y_test

15     0
12     0
113    2
6      0
24     0
21     0
39     0
144    2
121    2
142    2
79     1
112    2
3      0
89     1
70     1
Name: target, dtype: int32

In [18]:
mod_2 = lm.fit(X_train,y_train) #fit the model with training data

In [27]:
print('R² = ' , mod_2.score(X_test,y_test)) #evaluate model with test data

R² =  0.9464958846643058

In [25]:
cv_scores = cross_val_score(mod_2,X_train,y_train, cv =5) #cross validate with K-Fold

In [28]:
print('Training R² =', cv_scores.mean())

Training R² = 0.9228989610307472